/** @format */
/* .admin-menu-class {
} */
.admin-menu {
  margin-top: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* background-color: antiquewhite !important; */
  /* width: 80% !important; */
}
/* .dashboard-menu {
  background-color: aquamarine !important;
} */
.admin-head {
  color: black !important;
  background-color: #ecf5f8;
  margin-bottom: 15px;
  height: 50px !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

/* .list-group {
} */
.menu-heads {
  border: 0.5px solid black !important;
}
.nav-colors {
  /* background-color: #fffbe9 !important;
  color: black !important; */
  font-weight: 600 !important;
}
/* .list-group-item-action {
} */

.admin-menu-class-2 {
  margin-top: 15px !important;
  /* margin-left: -70px; */
}
.card-dash {
  background-color: #f6f9fa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  padding-left: 10px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border-bottom: 1px solid black;
}
