/** @format */

.cart-page {
  width: 50% !important;
  margin: 5px !important;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row !important;
  /* height: 10% !important; */
}
.cart-img {
  margin-left: 2px !important;
  width: 100% !important;
  height: 100% !important;
  border: 1px solid gray !important;
  border-radius: 40px !important;
}
.cart-details {
  text-align: justify;
  text-decoration: underline;
  font-weight: 500;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: "Anton", sans-serif; */
  /* font-family: "Merriweather", serif; */
  /* font-family: "Oswald", sans-serif; */
  /* font-family: "Playfair Display", serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto Slab", serif;
  margin-left: 50px !important;
}
